<div class="caja">
    <h1 class="titulo"> Créditos </h1>

    <div class="tarjetas">
    
        <!-- JULI -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Julieta Wainhaus Barber</h5>
                <p class="card-text">Soy una estudiante de 4to año informática de la escuela ORT y disfruto de UX/UI.</p>
            </div>
        </div>

        <!-- MAIA -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Maia Rasumoff</h5>
                <p class="card-text"></p>
            </div>
        </div>

        <!-- VERA -->
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Vera Romanowicz</h5>
                <p class="card-text">Soy una estudiante de 4to año informática de la escuela ORT y me gusta el diseño gráfico.</p>
            </div>
        </div>
        
    </div>
</div>