<link rel="stylesheet" href="/css/site.css">

<video autoplay muted loop class="myVideo" width="99%" height="99%" >
        <source src="/imgs/FONDO_JJOO.mp4" type="video/mp4">
    </video>
        
        <div class="position-absolute top-50 start-50 translate-middle rounded p-5 bg-body-secondary text-dark bg-opacity-75">
                <h1 class="TituloOlimpico">JUEGOS OLÍMPICOS</h1>
                <h2>PARÍS 2024</h2> 

        </div>

    