html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.bg-imagen{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.tarjetas
{
  padding:10%;
  padding-top:6%;
  display: flex;
  justify-content:space-around;
}

.card
{
  display: flex;
  float: left;
  justify-content:center;
  border: 2px solid rgb(175, 175, 175);
}


h1
{
  text-align: center;
  color: #a50000;
}

.banner
{
  width: 100%;
}

.TituloOlimpico
{
  font-size:300%;
  color:#a50000;
  text-align: center;
}

h2
{
  font-size: large;
  color:#4b4b4b;
  text-align: center;
}

.bodyIndex
{
  
  background-image: url('/imgs/FONDO_INDEX.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;

  
}

.cajaIndex
{
  margin-left:50%;
  background-color: rgba(249, 250, 251, 0.815);
  padding:2%;
  width: 45%;
  height: 800px;
  border-radius: 10%;
}

