html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.fondo
{
  background-repeat: repeat;
  background-image: url('../imgs/pictogramas2.png');
}

.bg-imagen{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.tarjetas
{
  padding-top:6%;
  display: flex;
  justify-content:space-around;
}

.card
{
  display: flex;
  float: left;
  justify-content:center;
  border: 2px solid rgb(175, 175, 175);
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.titulo
{
  text-align: center;
  color: #a50000;
  margin-bottom: 5%;
  font-size: 300%;
}

.TituloOlimpico
{
  font-size:300%;
  color:#a50000;
  text-align: center;
}

h2
{
  font-size: large;
  color:#4b4b4b;
  text-align: center;
}

p
{
  margin-bottom: 0 !important;
  margin-top: 4% !important;
}

.banner
{
  width: 100%;
}

.btn .btn-primary
{
  background-color: #a50000;
}

.cajaForm form
{
  display: flex;
  width: 40%;
  flex-direction: column;
  align-content: space-evenly;
}

.selector
{
  margin-top: 4% !important;
}

.col-12
{
  margin-left: 43%;
}

.bodyIndex
{
  background-image: url('/imgs/FONDO_INDEX.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;  
}

.cajaIndex
{
  display: flex;
  margin-left:50%;
  background-color: rgba(249, 250, 251, 0.815);
  padding:2%;
  width: 45%;
  height: 800px;
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
}

.caja, .cajaForm
{
  display: flex;
  background-color: #f8f9fa;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;;
  flex-direction: column;
  border-radius: 5%;
  min-height: 800px;
}

.cajaForm
{
  display: flex;
  align-items: center;
}

